button {
    margin-bottom: 15px;
}

.gridContainer {
    border: 1px solid red;
    display: grid;
    width: 960px;
}

.item {
    border: 1px solid blue;
    height: 30px;
}

.change {
    background-color: red
}