button {
    margin-bottom: 15px;
}

.container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid blue;
    flex: 1 1 6%;
    height: 45px;
}

.change {
    background-color: red
}